:root { /* for color scheme changes */
	--bg-color: #43AA8B;
	--title-color: #9E2A2B;
	--text-color: #254441;
	--navbar-color: #F3EFF5;
	--navbar-hover: #254441; 
}

body {
	font-family: Lucida Console, Monaco, monospace;
	background-color: var(--bg-color);
}

h1 {
	color: var(--title-color);
	font-size: 2.7em;
	padding: 40px 0 0 0;
}

h2 { 
	color: var(--text-color);
	font-size: 1.5em;
}

.nav-area li a {
        color: var(--navbar-color);
        text-decoration: none;
        padding: 5px 20px;
        font-family: Lucida Console, Monaco, monospace;
        font-size: 16px;
        text-transform: uppercase;
}

.nav-area li a:hover{
        background: var(--navbar-hover);
}

.skill-list li {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        margin: 15px 0px;
        font-size: 1.5em;
        text-align: left;
        list-style-type: none;
        color: var(--title-text); 

}

.content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
 	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
	display: flex;
	flex-direction: column;
}


.nav-area {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}

.nav-area li{
    display: inline-block;
}

.skill-list {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	padding: 0em;
	margin: 0em 2em;
	flex-wrap: wrap;
}

.home-article {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 5em;
	font-size: 4em;
}

.subpage-article {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
  	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 5em;
	font-size: 2em;
}
.about-pic {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
	display: block;
	margin: 10em;
	align-items: center;
	justify-content: center;
}
.blob {
  position: absolute;
  top: 0;
  left: 0;
  fill: #023F92;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
  78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

.article-box {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6*/ 
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
  	display: -o-flex;
	display: block;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 6em;
	font-size: 1em;
}
section{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flex;
 	display: -o-flex;
  	display: flex;
	justify-content: center;
}

iframe{
	border: 0em;
	display: inherit;
	height: 67em;
	margin: 2em auto;
	overflow: hidden;
	width: 50em;
}
strong {
	font-weight: 900;
	color: var(--title-color);
}
	
.lightrope {
	 /*display: flex;*/
	 white-space: nowrap;
	 overflow: hidden;
	 position: absolute;
	 z-index: 1;
	 margin: -20px 0 0 0;
	 padding: 10px 0 0 0;
	 pointer-events: none;
	 width: 100%;
}
 .lightrope li {
	 position: relative;
	 animation-fill-mode: both;
	 animation-iteration-count: infinite;
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: block;
	 width: 12px;
	 height: 28px;
	 border-radius: 50%;
	 margin: 20px;
	 display: inline-block;
	 background: #013220;
	 box-shadow: 0px 4.6666666667px 24px 3px #013218;
	 animation-name: flash-1;
	 animation-duration: 2s;
}
 .lightrope li:nth-child(2n+1) {
	 background: #6b1404;
	 box-shadow: 0px 4.6666666667px 24px 3px #6b1402;
	 animation-name: flash-2;
	 animation-duration: 0.4s;
}
 .lightrope li:nth-child(odd) {
	 animation-duration: 1.8s;
}

 .lightrope li:before {
	 content: "";
	 position: absolute;
	 background: #222;
	 width: 10px;
	 height: 9.3333333333px;
	 border-radius: 3px;
	 top: -4.6666666667px;
	 left: 1px;
}
 .lightrope li:after {
	 content: "";
	 top: -14px;
	 left: 9px;
	 position: absolute;
	 width: 52px;
	 height: 18.6666666667px;
	 border-bottom: solid #222 2px;
	 border-radius: 50%;
}
 .lightrope li:last-child:after {
	 content: none;
}
 .lightrope li:first-child {
	 margin-left: -40px;
}
 @keyframes flash-1 {
	 0%, 100% {
		 background: #013220;
		 box-shadow: 0px 4.6666666667px 24px 3px #013220;
	}
	 50% {
		 background: #016e46;
		 box-shadow: 0px 4.6666666667px 24px 3px ##016e46;
	}
}
 @keyframes flash-2 {
	 0%, 100% {
		 background: #6b1404;
		 box-shadow: 0px 4.6666666667px 24px 3px #6b1404;
	}
	 50% {
		 background: #911e09;
		 box-shadow: 0px 4.6666666667px 24px 3px #911e09;
	}
}

.nav-area-contact {
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
	flex-direction: column;
	flex:1;
        justify-content: flex-end;
}

.nav-area-contact li{
    display: inline-block;
    style="margin-top: auto;"

}
.nav-area-contact li a {
        color: var(--navbar-color);
        text-decoration: none;
        padding: 5px 20px;
        font-family: Lucida Console, Monaco, monospace;
        font-size: 16px;
        text-transform: uppercase;
}

.nav-area-contact li a:hover{
        background: var(--navbar-hover);
}

